@font-face {
  font-family: "Anton";
  src: url(../fonts/Anton-Regular.eot);
  src: url(../fonts/Anton-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Anton-Regular.svg#Anton-Regular) format("svg"), url(../fonts/Anton-Regular.otf) format("otf"), url(../fonts/Anton-Regular.ttf) format("truetype"), url(../fonts/Anton-Regular.woff) format("woff"), url(../fonts/Anton-Regular.woff2) format("woff2");
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Anton", sans-serif;
  color: #ffffff;
}

h1 {
  font-size: 37px;
  line-height: 33px;
}

h2 {
  font-size: 19px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #009EE0;
}

a:hover {
  color: #009EE0;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #009EE0;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #ffffff;
  line-height: 0;
}

.back-to-top:hover {
  background: #D32727;
  color: #ffffff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.5s;
  z-index: 998;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  padding-top: 108px;
}

#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header.fixed-top {
  z-index: 1030;
  padding-top: 0;
}

#header .contact-info {
  font-size: 24px;
  line-height: 22px;
  color: #ffffff;
  transition: 0.3s;
  cursor: pointer;
  position: fixed;
  z-index: 11111;
  top: 20px;
  right: 0;
}

#header.fixed-top .contact-info {
  top: -100vh;
}

#header .contact-info a {
  line-height: 0;
  color: #ffffff;
  transition: 0.3s;
  cursor: pointer;
}

#header .contact-info a:hover {
  color: #ffffff;
}

#header .contact-info i {
  color: #ffffff;
  line-height: 0;
  margin-right: 5px;
}

#header .contact-info .phone-icon {
  margin-left: 15px;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  position: fixed;
  top: 28px;
  z-index: 999;
  transition: all 0.5s;
}

#header .logo a {
  color: #ffffff;
  display: inline-block;
  text-align: right;
  padding-top: 16px;
}

#header .logo a strong {
  font-size: 29px;
  line-height: 33px;
  font-weight: 400;
  display: block;
}

#header .logo a small {
  font-size: 12px;
  margin-top: 2px;
  font-weight: 300;
  display: block;
}

#header .logo img {
  display: inline-block;
  float: left;
  margin-right: 20px;
  width: 100%;
  max-width: 115px;
}

#header.fixed-top .logo {
  top: 2px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  position: absolute;
  right: -15px;
  margin-top: 0;
  height: 52px;
  background: #009EE0;
  transform: skew(-30deg);
  z-index: 10000;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  color: #ffffff;
  white-space: nowrap;
  transition: 0.3s;
  transform: skew(30deg);
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #000000;
}

.navbar .getfreecallback,
.navbar .getfreecallback:focus {
  color: #ffffff;
  padding: 0 25px;
  margin-left: 30px;
  border-radius: 0;
  border: none;
  transition: 0.3s;
  font-size: 14px;
  background: #D32727;
  height: 51px;
  transform: skew(0);
}

.navbar .getfreecallback > * {
  transform: skew(30deg);
}

.navbar .getfreecallback:hover,
.navbar .getfreecallback:focus:hover {
  background: #009EE0;
  color: #ffffff;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #009EE0;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #ffffff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle > span {
  color: #ffffff;
  font-size: 8px;
  cursor: pointer;
  display: block;
  line-height: initial;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: unset;
}

.mobile-nav-toggle.bi-x {
  color: #ffffff;
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: relative;
  padding: 10px 0;
  background-color: #ffffff;
  overflow-y: auto;
  transition: 0.3s;
  width: 100%;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #222222;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #009EE0;
}

.navbar-mobile .getfreecallback,
.navbar-mobile .getfreecallback:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #009EE0;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-color: rgba(9, 9, 9, 0.8);
  overflow: hidden;
  position: relative;
}

#hero .carousel,
#hero .carousel-inner,
#hero .carousel-item,
#hero .carousel-item::before {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-item::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
}

#hero .carousel-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: absolute;
  bottom: 52px;
  top: 0;
  left: 50px;
  right: 50px;
}

#hero .container {
  text-align: left;
}

#hero h2 {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 700;
}

#hero p {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #ffffff;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 30px;
  line-height: 0;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0;
  transition: 0.3s;
  color: rgb(255, 255, 255);
  width: 54px;
  height: 164px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero .carousel-control-next-icon:hover,
#hero .carousel-control-prev-icon:hover {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
}

#hero .carousel-indicators li {
  cursor: pointer;
  background: #ffffff;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  opacity: 0.6;
  transition: 0.3s;
}

#hero .carousel-indicators li.active {
  opacity: 1;
  background: #009EE0;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 32px;
  border-radius: 4px;
  transition: 0.5s;
  line-height: 1;
  color: #ffffff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  background: #009EE0;
}

#hero .btn-get-started:hover {
  background: #D32727;
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
  align-items: flex-end;
  padding: 0 0 52px;
  width: auto;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 60px;
  background-color: #232323;
}

.section-bg {
  background-color: #232323;
}

.color-blue {
  color: #009EE0;
}

/*--------------------------------------------------------------
# CTA-BTN
--------------------------------------------------------------*/
.cta-btn,
.cta-btn:focus {
  color: #ffffff;
  /* padding: 0 30px; */
  border-radius: 0;
  border: none;
  transition: 0.3s;
  font-size: 14px;
  background: #D32727;
  height: 51px;
  transform: skew(-30deg);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 211px;
  width: 100%;
}

.cta-btn > * {
  transform: skew(30deg);
}

.cta-btn:hover,
.cta-btn:focus:hover {
  background: #009EE0;
  color: #ffffff;
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about .content h1 {
  font-weight: 700;
  margin-bottom: 60px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #009EE0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about img {
  float: right;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
section.contact {
  padding: 0;
}

.contact h2 {
  font-weight: 400;
  margin-bottom: 20px;
}

.contact .information,
.contact .acces {
  padding: 60px;
}

.contact .ouverture {
  padding: 60px;
  z-index: 9;
}

.contact .ouverture > * {
  transform: skew(15deg);
}

.contact .info {
  border-top: 3px solid #009EE0;
  border-bottom: 3px solid #009EE0;
  padding: 30px;
  background: #ffffff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 20px;
  color: #009EE0;
  float: left;
  width: 44px;
  height: 44px;
  background: #eaf6ed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #222222;
}

.information:before, .ouverture:before, .acces::before {
  position: absolute;
  background: #009EE0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 3px solid #ffffff;
  font-family: bootstrap-icons !important;
  font-size: 23px;
}

.information:before {
  content: "\f32f";
}

.ouverture:before {
  content: "\f293";
}

.acces:before {
  content: "\f3e8";
}

.information, .ouverture, .acces {
  position: relative;
}

.contact .ouverture:after {
  content: "";
  transform: skew(-15deg);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1;
  background: #151515;
}

.contact .ouverture p {
  transform: none;
}

.contact .ouverture h2 {
  transform: none;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #555555;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #ffffff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #009EE0;
  color: #ffffff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #009EE0;
  color: #ffffff;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #090909;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0 0;
}

#footer a {
  color: #ffffff;
  font-size: 14px;
  text-align: left;
}

#footer a:hover {
  color: #009EE0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer .logo {
  font-family: "Anton", "Open Sans", sans-serif;
  width: fit-content;
}

#footer .logo a {
  color: #ffffff;
  display: inline-block;
  text-align: right;
  padding-top: 16px;
}

#footer .logo a strong {
  font-size: 29px;
  line-height: 33px;
  font-weight: 400;
  display: block;
}

#footer .logo a small {
  font-size: 12px;
  margin-top: 2px;
  font-weight: 300;
  display: block;
}

#footer .logo img {
  display: inline-block;
  margin-right: 20px;
  width: 100%;
  max-width: 115px;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 14px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #009EE0;
}

#footer .credits a {
  color: #ffffff;
}

#footer > .container {
  margin-bottom: 20px;
}

input#newslter {
  background: #232323;
  padding: 8px;
  border: none;
  color: #ffffff;
  width: 50%;
  height: 51px;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
}

input#newslter::placeholder {
  color: #ffffff;
  text-align: center;
  font-size: 15px;
}

section#contact button.cta-btn {
  width: 48%;
  margin-left: -15px;
  background-color: #009EE0;
}

section#contact button.cta-btn:hover {
  background-color: #D32727;
}

/*---------------------------------------
     Media pour mobile et table 

     --------------------- */
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}
@media (max-width: 991px) {
  #header .logo img {
    margin: 0 auto;
    text-align: center;
    float: none;
    display: block;
  }
  .hiddenlg {
    display: none !important;
  }
  nav#navbar {
    max-width: 37px;
  }
  .noflex {
    padding-top: 15px;
  }
  .hiddenxs-md {
    display: none;
  }
  section#contact {
    margin-top: -2px;
  }
  input#newslter {
    background: #3f3f3f;
  }
  #header .logo {
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .contact .ouverture:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: -81px;
    z-index: -1;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-18deg, 0deg);
  }
  #header .contact-info {
    font-size: 22px;
    line-height: 12px;
    top: 8px;
  }
  #header.navbar-mobile {
    height: auto;
  }
  #header.navbar-mobile .navbar {
    width: 100vw;
    height: 100vh;
  }
  #header.navbar-mobile .logo,
  #header.navbar-mobile .contact-info {
    display: none !important;
  }
  .mobile-nav-toggle {
    display: block;
  }
  .navbar {
    padding: 0;
    position: relative;
    right: auto;
    margin-bottom: auto;
    background: #009EE0;
    transform: skew(0deg);
  }
  #header.navbar-mobile .navbar {
    background: transparent;
  }
  .navbar ul {
    display: none;
  }
  .navbar a, .navbar a:focus {
    transform: skew(0deg);
  }
  .navbar .getfreecallback > * {
    transform: skew(0deg);
  }
  #hero {
    height: 100vh;
  }
  #hero .carousel-container {
    top: 66px;
  }
  #footer .logo {
    margin: 0 auto 15px;
  }
}
@media (min-width: 991px) {
  .visblexs {
    display: none;
  }
}
@media (min-width: 768px) {
  section#contact .information {
    padding: 60px 18px;
  }
  .cta-btn, .cta-btn:focus {
    float: right;
    margin-right: 5%;
  }
  #footer .logo {
    display: flex;
    align-items: center;
  }
  .information i, .ouverture i, .acces i {
    display: none;
  }
  section.contact {
    background: #1b1b1b;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .information:before, .ouverture:before, .acces::before {
    width: 65px;
    height: 65px;
  }
  .information:before {
    display: none;
  }
  section.contact {
    background: #232323;
  }
  .information i {
    display: block;
    background: #009EE0;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 3px solid #ffffff;
    font-size: 25px;
    margin-bottom: 25px;
  }
}
@media (max-width: 767px) {
  #header .logo {
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -41px;
  }
  .navbar-mobile ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    background: #232323;
  }
  #header.navbar-mobile .navbar {
    max-width: 100%;
    background: transparent;
  }
  .navbar-mobile ul li {
    color: #fff;
    border-bottom: 3px solid #fff;
    width: 100%;
  }
  .navbar-mobile ul li a {
    color: #fff;
  }
  a.cta-btn.getfreecallback.scrollto {
    max-width: 252px;
    /* margin-top: 15px; */
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 29px;
    padding-top: 0px;
  }
  .navbar-mobile a.getfreecallback.scrollto {
    display: flex;
    align-items: center;
    padding-top: 0px;
  }
  .navbar-mobile ul li:last-child {
    border: none;
  }
  header#header {
    padding-top: 0px;
  }
  header#header {
    display: block !important;
    background: #232323;
  }
  .noflex {
    display: block !important;
  }
  a.getfreecallback.scrollto {
    display: block;
    padding-top: 24px;
  }
  #header .logo a small {
    text-align: center;
  }
  #header .contact-info {
    position: relative;
    top: -32px;
    text-align: center;
    align-items: end;
    display: block;
    width: 100%;
  }
  input#newslter {
    display: inline-block;
    float: left;
  }
  section.contact {
    overflow: hidden;
  }
  #hero h2 {
    font-size: 28px;
  }
  .hiddenonlyxs {
    display: none;
  }
  #footer .cta-btn {
    background-color: #ffffff;
    color: #232323;
    font-family: "Anton", sans-serif;
    font-size: 17px;
  }
  .contact .ouverture {
    background: #1b1b1b;
  }
  .contact .ouverture:after {
    display: none;
  }
  .cta-btn, .cta-btn:focus {
    margin: 0 auto;
  }
  #footer .logo img {
    display: block;
    margin: 0 auto;
  }
  .information:before, .ouverture:before, .acces::before {
    display: none;
  }
  .contact .ouverture {
    padding: 15px 60px;
  }
  .information, .ouverture, .acces {
    text-align: center;
  }
  .information i, .ouverture i, .acces i {
    background: #009EE0;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 3px solid #ffffff;
    font-size: 25px;
    margin-bottom: 25px;
  }
  .contact .ouverture > * {
    transform: none;
  }
  input#newslter {
    display: inline-block;
    float: left;
  }
  input#newslter {
    background: #3f3f3f;
  }
  .ouverture i {
    position: relative;
    top: -47px;
    margin-bottom: 0px;
  }
  .contact .ouverture {
    padding-top: 0px;
  }
  .information {
    padding-top: 15px !important;
    padding-bottom: 89px !important;
  }
  section#about {
    padding-bottom: 15px;
  }
  section#contact button.cta-btn {
    margin-left: -17px;
    display: initial;
  }
}
@media (max-height: 500px) {
  #hero {
    height: 100vh;
  }
}